@import "./variables";
@import "~bulma";
@import url("https://fonts.googleapis.com/css?family=Muli:300|Slabo+27px|Open+Sans|Crimson+Text|Muli|Roboto+Condensed|Roboto+Slab|Ubuntu|Josefin+Sans");

// Config vars

.hidden {
	display: none !important;
}

html {
	background: none !important;
}

body {
	background-color: #fbfbfb;
	font-family: "Open Sans" !important;
}

h1,
h2.title {
	font-family: $primary-font;
	font-weight: 400;
	text-transform: uppercase;
}

.content .taglist {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;

	li {
		padding: 0 2rem 1rem 0;
		margin-bottom: 1.5rem;
		margin-top: 0;
	}
}

// Helper Classes

.full-width-image-container {
	width: 100vw;
	height: 400px;
	position: relative;
	left: 50%;
	right: 50%;
	margin: 5em -50vw;
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}

.margin-top-0 {
	margin-top: 0 !important;
}

.columns.wrap {
	flex-wrap: wrap;
}

.main-container {
	height: 100%;
	width: 100%;
}

.hero.is-light {
	background-color: $light-blue;
}

.has-text-primary {
	color: $light-green;
}

.border-top-bottom {
	padding-top: 3px;
	border-top: solid 3px $light-blue;
	padding-bottom: 3px;
	border-bottom: solid 3px $light-blue;
}

//html, body, #___gatsby, #___gatsby>div
//  height: 100%

.hero-background-image {
	//background-image: url(/img/hunterRoller.jpg)
	width: 100%;
	height: 500px;
	background-position: bottom;
	background-repeat: no-repeat;
	margin-top: 75px;
	display: flex;
	align-items: center;
}

.hero-background-image img {
	max-height: 100%;
	width: auto;
}

.hero-image-text h1 {
	font-size: 30px; //border-bottom: solid 2px #7b7b7b
}

hr {
	background-color: #dadada;
	border: none;
	display: block;
	height: 1px;
	margin: 10px 70px 10px 70px;
}

.examples-page-container .columns {
	align-items: center;
}

.hero-image-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-image-text .column {
	align-items: center;
	margin: 20px;
}

.hero-image-text .columns {
	margin-top: 0;
	height: 90%;
}

.side-by-side .text-pane {
	border-right: solid 2px $primary;

	h1 {
		text-align: center;
	}
}

.side-by-side .image-pane {
	background-size: cover;

	background-position: center center;
	width: 100%;

	&#homepage-image {
		background-image: url(/img/ulineMotorized.jpg);
	}
}

#service-page-image {
	padding-left: 50px;
}

@media screen and (max-width: 768px) {
	//.navbar-item
	//  text-align: center;
	.hero-background-image {
		height: auto;
	}

	.hero-image-text .welcome-pane {
		border-right: none;
	}
}

.full-height-plus-children div {
	height: 100%;
}

.feature-grid section {
	padding-top: 20px;
	padding-bottom: 20px;
}

// Modal Styles //

.ReactModal__Content {
	max-width: 90%;
	display: block;
}

.ReactModal__Content img {
	max-height: 90vh;
}

.close-icon {
	width: 50px;
	font-size: 2em;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	color: rgb(204, 204, 204);
	border-radius: 50%;
	border: solid 2px rgb(204, 204, 204);
	background-color: white;
	right: -20px;
	top: -20px;
}

input {
	width: 500px;
}
