$dark-blue: #2391d8;
$blue: #7ec5f3;
$light-blue: #bde0f7;
$orange: #ffb80c;
$sand: #e1e2cc;
$green: #8ed897;
$dark-green: #659e6c;
$light-green: #81e08d;
$primary: $green;
$secondary: $orange;

$primary-font: "Josefin Sans";
$secondary-font: "Open Sans";
