$dark-blue: #2391d8;
$blue: #7ec5f3;
$light-blue: #bde0f7;
$orange: #f9b969;
$yellow: #fff899;
$sand: #e1e2cc;
$green: #7bc687;
$dark-green: #659e6c;
$light-green: #81e08d;
$primary: $green;
$secondary: $orange;

$primary-font: "Josefin Sans";
$secondary-font: "Open Sans";

$info: $blue;
