@import "../../global-styles/variables";

.navbar {
	border-bottom: double 7px $primary;
	background-color: #fbfbfb;
	font-family: $primary-font;
	font-size: 1.2em;
	text-transform: capitalize;
}
.navbar-end {
	font-family: $secondary-font;
	font-size: 0.8em;
}

.navbar-brand .navbar-item {
	span {
		width: auto;
		padding-right: 5px;
		transition: width 0.9s linear, opacity 0.3s linear;
		opacity: 1;
	}
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
	color: #4a4a4a;
}

.navbar-item img {
	width: 5em;
	max-height: 5em;
}
